<div class="content-container">
  <div class="container-inner">
    <div class="header">
      <h1 class="h3">View Snippet</h1>
      <button type="button" class="button" id="deleteButton">Delete</button>
    </div>
    <div class="content">
      <form
        action="/dashboard/snippet/<%= snippetID %>?_method=PUT"
        method="post"
        class="position-relative"
      >
        <div class="form-group mb-4">
          <input
            type="text"
            class="form-control fw-bold border-0 fs-4"
            id="title"
            name="title"
            value="<%= snippet.title %>"
            placeholder="title"
          />
        </div>
        <div class="form-group mb-4">
          <textarea
            class="editor form-control pt-5 fs-4"
            name="body"
            id="body"
            placeholder="body"
            rows="12"
          >
  <%= snippet.body %></textarea
          >
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg">
            Update Snippet
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal container-outer-model hidden" tabindex="-1" id="deleteModal">
  <div class="modal-dialog container-inner" role="document">
    <div class="header">
      <h5 class="modal-title">You are about to delete a snippet</h5>
    </div>
    <div class="content">
      <div class="modal-body justify-content-center">
        <p>
          This will permanently delete your snippet
          <br />"<b class="fw-bold"><%= snippet.title %></b>"<br />
          Are you sure?
        </p>
      </div>
      <div class="modal-footer">
        <form
          action="/dashboard/snippet-delete/<%= snippetID %>?_method=DELETE"
          method="post"
          class="position-relative"
        >
          <button type="submit" class="btn btn-danger">Delete Snippet</button>
        </form>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/js/codemirror/lib/codemirror.css" />
<script src="/js/codemirror/lib/codemirror.js"></script>
<script src="/js/codemirror/mode/javascript/javascript.js"></script>
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("body"), {
    lineNumbers: true,
    mode: "javascript",
  });

  const deleteModal = document.getElementById("deleteModal");
  document.getElementById("deleteButton").addEventListener("click", () => {
    deleteModal.classList.toggle("show");
  });
  console.log(editor);
</script>
